#content {
    margin: 0 3em;
}

ol {
    list-style-type:  none;
}

h3 {
    color:  #000;
    margin-bottom:  0;
}

h3 + p {
    margin-top: 0;
    margin-bottom: 0;
}
p.more {
    margin-top: 0;
    margin-left:    2em;
}
p.more::before {
    content:    "➡";
}

h3 .type {
    font-size:  0.7em;
    color:  #00b;
    font-weight:    normal;
}

.diff {
    margin-left:    2em;
}